.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
    border: 1px solid #a3aeeb;
    background: #acadf3;
    font-weight: normal;
    color: #555555;
}

.ui-checkboxradio-label .ui-icon-background {
    box-shadow: #ccc !important;
}

.ui-widget.ui-widget-content {
    border: #0b5693 !important;
}

.ui-widget-content {
    border: #2d83b4 !important;
    background: #194391 !important;
    color: #ffffff !important;
}

.ui-widget-content a {
    color: #ffffff !important;
}

.ui-widget-header {
    border: #065675 !important;
    background: #265ba0 !important;
    color: #ffffff !important;
}

.ui-widget-header a {
    color: #ffffff !important;
}

html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
    border: 1px solid #0b8393 !important;
    background: #0ba2a2 !important;
    color: #ffffff !important;
}

.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited,
a.ui-button,
a:link.ui-button,
a:visited.ui-button,
.ui-button {
    color: #ffffff !important;
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus,
.ui-button:hover,
.ui-button:focus {
    border: #3b9ed8 !important;
    background: #0590b3 !important;
    color: #ffffff !important;
}

.ui-state-hover a,
.ui-state-hover a:hover,
.ui-state-hover a:link,
.ui-state-hover a:visited,
.ui-state-focus a,
.ui-state-focus a:hover,
.ui-state-focus a:link,
.ui-state-focus a:visited,
a.ui-button:hover,
a.ui-button:focus {
    color: #ffffff !important;
}

.ui-visual-focus {
    box-shadow: rgb(148, 214, 94) !important;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
    border: #2d99b4 !important;
    background: #1a7591 !important;
    color: #ffffff !important;
}

.ui-icon-background,
.ui-state-active .ui-icon-background {
    border: #2da0b4 !important;
    background-color: #ffffff !important;
}

.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
    color: #ffffff !important;
}

.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
    border: #34cbf9 !important;
    background: #dcfbd0 !important;
    color: #363636 !important;
}

.ui-state-checked {
    border: #34cbf9 !important;
    background: #fbf5d0 !important;
}

.ui-state-highlight a,
.ui-widget-content .ui-state-highlight a,
.ui-widget-header .ui-state-highlight a {
    color: #363636 !important;
}

.ui-state-error,
.ui-widget-content .ui-state-error,
.ui-widget-header .ui-state-error {
    border: #cd0a0a !important;
    background: #fef1ec !important;
    color: #cd0a0a !important;
}

.ui-state-error a,
.ui-widget-content .ui-state-error a,
.ui-widget-header .ui-state-error a {
    color: #cd0a0a !important;
}

.ui-state-error-text,
.ui-widget-content .ui-state-error-text,
.ui-widget-header .ui-state-error-text {
    color: #cd0a0a !important;
}

.ui-widget-overlay {
    background: #aaaaaa !important;
}

.ui-widget-shadow {
    -webkit-box-shadow: #aaaaaa !important;
    box-shadow: #aaaaaa !important;
}

table.report tr:nth-child(even) {
    background-color: #7070c5 !important;
}